node-red-data/flows.json
[{"id":"5b68657d.79673c","type":"tab","label":"Clima Agora V4","disabled":false,"info":"Fluxo com persist칙ncia no MongoDB"},{"id":"aafa6111.6a36d","type":"tab","label":"Clima Agora - Lista Dados","disabled":false,"info":""},{"id":"c6b08a25.24dbb8","type":"tab","label":"MQTT Hello","disabled":false,"info":""},{"id":"62569aeb.8e4554","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"a934cead.78288","type":"tab","label":"Clima Agora V4","disabled":false,"info":"Fluxo com persist칙ncia no MongoDB"},{"id":"65b579bc.338878","type":"mongodb","z":"","hostname":"192.168.15.101","port":"27017","db":"node-red","name":""},{"id":"87aeb1b6.e22e8","type":"ui_group","z":"","name":"Clima","tab":"242cc3f4.7f1bdc","disp":true,"width":"6","collapse":false},{"id":"242cc3f4.7f1bdc","type":"ui_tab","z":"","name":"Previsao","icon":"dashboard"},{"id":"26fb2176.0a2e7e","type":"mqtt-broker","z":"","name":"host","broker":"192.168.15.101","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"24c7c9b5.a1d316","type":"http in","z":"aafa6111.6a36d","name":"","url":"/clima-agora/temperaturas","method":"get","upload":false,"swaggerDoc":"","x":240,"y":120,"wires":[["e38c71ac.3ef66"]]},{"id":"129847ba.f91128","type":"http response","z":"aafa6111.6a36d","name":"","statusCode":"200","headers":{},"x":620,"y":120,"wires":[]},{"id":"d723b222.75755","type":"inject","z":"5b68657d.79673c","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["4d73391d.ee79e8"]]},{"id":"4d73391d.ee79e8","type":"http request","z":"5b68657d.79673c","name":"","method":"GET","ret":"txt","url":"http://api.openweathermap.org/data/2.5/weather?id=3445831&units=metric&APPID=c6905e970373c3afa651fccaed9919b8","tls":"","x":190,"y":140,"wires":[["d6d69e42.bd2f4"]]},{"id":"d6d69e42.bd2f4","type":"json","z":"5b68657d.79673c","name":"","property":"payload","action":"","pretty":false,"x":350,"y":120,"wires":[["28b9c0bd.eacac","2a77c864.f3d778","5b582d9e.f318e4","13bd488c.b6c5f7","b4eec66c.54c8a8"]]},{"id":"28b9c0bd.eacac","type":"debug","z":"5b68657d.79673c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":100,"wires":[]},{"id":"2a77c864.f3d778","type":"function","z":"5b68657d.79673c","name":"InformacoesTemperatura","func":"msg.payload = { \"date\":new Date(),\"temperatura\":Math.round(msg.payload.main.temp), \"maxima\":Math.round(msg.payload.main.temp_max), \"minima\":Math.round(msg.payload.main.temp_min), \"humidade\":Math.round(msg.payload.main.humidity)}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":400,"wires":[["4c36f95f.b093e8","1c87a27.494075e"]]},{"id":"4c36f95f.b093e8","type":"debug","z":"5b68657d.79673c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":360,"wires":[]},{"id":"79b42a15.d91f04","type":"ui_gauge","z":"5b68657d.79673c","name":"","group":"87aeb1b6.e22e8","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperatura Minima","label":"celcius","format":"{{value}}","min":0,"max":"50","colors":["#87b58f","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":180,"wires":[]},{"id":"5b582d9e.f318e4","type":"change","z":"5b68657d.79673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["79b42a15.d91f04"]]},{"id":"13bd488c.b6c5f7","type":"change","z":"5b68657d.79673c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["ff469185.b0a08"]]},{"id":"ff469185.b0a08","type":"ui_gauge","z":"5b68657d.79673c","name":"","group":"87aeb1b6.e22e8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura M치xima","label":"celcius","format":"{{value}}","min":0,"max":"50","colors":["#87b58f","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":240,"wires":[]},{"id":"b4eec66c.54c8a8","type":"function","z":"5b68657d.79673c","name":"Temperatura","func":"msg.payload = Math.round(msg.payload.main.temp)\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["cc344255.6e99e"]]},{"id":"cc344255.6e99e","type":"ui_gauge","z":"5b68657d.79673c","name":"","group":"87aeb1b6.e22e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"celcius","format":"{{value}}","min":0,"max":"50","colors":["#87b58f","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":300,"wires":[]},{"id":"1c87a27.494075e","type":"mongodb out","z":"5b68657d.79673c","mongodb":"65b579bc.338878","name":"","collection":"test","payonly":true,"upsert":false,"multi":false,"operation":"store","x":510,"y":420,"wires":[]},{"id":"e38c71ac.3ef66","type":"mongodb in","z":"aafa6111.6a36d","mongodb":"65b579bc.338878","name":"","collection":"test","operation":"find","x":410,"y":220,"wires":[["129847ba.f91128"]]},{"id":"71e60ca6.bc9a14","type":"mqtt in","z":"c6b08a25.24dbb8","name":"","topic":"temperatura","qos":"2","broker":"26fb2176.0a2e7e","x":170,"y":200,"wires":[["69b0a1b1.4994f"]]},{"id":"fa672b18.c4d0e8","type":"mqtt out","z":"c6b08a25.24dbb8","name":"","topic":"temperatura","qos":"","retain":"","broker":"26fb2176.0a2e7e","x":390,"y":120,"wires":[]},{"id":"6a28fcd7.3c27d4","type":"inject","z":"c6b08a25.24dbb8","name":"","topic":"","payload":"22","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["fa672b18.c4d0e8"]]},{"id":"69b0a1b1.4994f","type":"debug","z":"c6b08a25.24dbb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":220,"wires":[]},{"id":"d534b86d.5e6af8","type":"inject","z":"62569aeb.8e4554","name":"","topic":"laboratorio","payload":"Hello","payloadType":"str","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":120,"wires":[["39c5038d.268aac","a0ce8e98.c72ea"]]},{"id":"39c5038d.268aac","type":"debug","z":"62569aeb.8e4554","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":490,"y":100,"wires":[]},{"id":"c9c1d13d.2dfff","type":"debug","z":"62569aeb.8e4554","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":220,"wires":[]},{"id":"a0ce8e98.c72ea","type":"function","z":"62569aeb.8e4554","name":"formataPayload","func":"msg.payload = { \"topic\":msg.topic, \"payload\": msg.payload }\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["c9c1d13d.2dfff","a3f61365.aaba"]]},{"id":"a3f61365.aaba","type":"mqtt out","z":"62569aeb.8e4554","name":"","topic":"temperatura","qos":"","retain":"","broker":"26fb2176.0a2e7e","x":440,"y":300,"wires":[]},{"id":"ec1e0cf0.f4418","type":"mqtt in","z":"62569aeb.8e4554","name":"","topic":"temperatura","qos":"2","broker":"26fb2176.0a2e7e","x":190,"y":340,"wires":[["22c32ec0.1cd432"]]},{"id":"22c32ec0.1cd432","type":"debug","z":"62569aeb.8e4554","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":420,"wires":[]},{"id":"8f8bed91.5da4d","type":"inject","z":"a934cead.78288","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["66460391.3ea03c"]]},{"id":"66460391.3ea03c","type":"http request","z":"a934cead.78288","name":"","method":"GET","ret":"txt","url":"http://api.openweathermap.org/data/2.5/weather?id=3445831&units=metric&APPID=c6905e970373c3afa651fccaed9919b8","tls":"","x":190,"y":140,"wires":[["a9edd1b1.602a4"]]},{"id":"a9edd1b1.602a4","type":"json","z":"a934cead.78288","name":"","property":"payload","action":"","pretty":false,"x":350,"y":120,"wires":[["c2df8c.6163c078","ba3d3b50.639a88","ab491437.5f99a8","cd42956.60e6f68","ef9ef42d.c83408"]]},{"id":"c2df8c.6163c078","type":"debug","z":"a934cead.78288","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":100,"wires":[]},{"id":"ba3d3b50.639a88","type":"function","z":"a934cead.78288","name":"InformacoesTemperatura","func":"msg.payload = { \"date\":new Date(),\"temperatura\":Math.round(msg.payload.main.temp), \"maxima\":Math.round(msg.payload.main.temp_max), \"minima\":Math.round(msg.payload.main.temp_min), \"humidade\":Math.round(msg.payload.main.humidity)}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":400,"wires":[["1311ab36.4b76d5","3599cee7.b9fc22"]]},{"id":"1311ab36.4b76d5","type":"debug","z":"a934cead.78288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":360,"wires":[]},{"id":"c5f320e2.b0543","type":"ui_gauge","z":"a934cead.78288","name":"","group":"87aeb1b6.e22e8","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperatura Minima","label":"celcius","format":"{{value}}","min":0,"max":"50","colors":["#87b58f","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":180,"wires":[]},{"id":"ab491437.5f99a8","type":"change","z":"a934cead.78288","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["c5f320e2.b0543"]]},{"id":"cd42956.60e6f68","type":"change","z":"a934cead.78288","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["107f5aa6.b31215"]]},{"id":"107f5aa6.b31215","type":"ui_gauge","z":"a934cead.78288","name":"","group":"87aeb1b6.e22e8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura M치xima","label":"celcius","format":"{{value}}","min":0,"max":"50","colors":["#87b58f","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":240,"wires":[]},{"id":"ef9ef42d.c83408","type":"function","z":"a934cead.78288","name":"Temperatura","func":"msg.payload = Math.round(msg.payload.main.temp)\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["9f7a5d75.ea6de"]]},{"id":"9f7a5d75.ea6de","type":"ui_gauge","z":"a934cead.78288","name":"","group":"87aeb1b6.e22e8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"celcius","format":"{{value}}","min":0,"max":"50","colors":["#87b58f","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":300,"wires":[]},{"id":"3599cee7.b9fc22","type":"mongodb out","z":"a934cead.78288","mongodb":"65b579bc.338878","name":"","collection":"test","payonly":true,"upsert":false,"multi":false,"operation":"store","x":510,"y":420,"wires":[]}]